<!DOCTYPE html>
<html ng-app="luciaStore">
  <head>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    
  </head>

  <body ng-controller="StoreController as store">
    <!--  Store Header  -->
    <header>
      <h1 class="text-center">Lucia's Handmade Black Sugar</h1>
      <h2 class="text-center">with Herbal Flowers</h2>
      <h2 class="text-center">- built with Angular -</h2>
    </header>

    <!--  Products Container  -->
    <div class="list-group">
      <!--  Product Container  -->
      <div class="list-group-item col-md-4" ng-repeat="product in store.products">
        <h3>{{product.name}} <em class="pull-right">{{product.price | currency}}</em></h3>

        <!-- Image Gallery  -->
        <product-gallery></product-gallery>

        <!-- Product Tabs  -->
        <product-tabs></product-tabs>
      </div>

    </div>

    <!-- JS -->
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/products.js"></script>
    <script type="text/javascript" src="/app.js"></script>
  </body>
</html>
